<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
    تخفیف‌های فروشگاه آنلاین
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
    <font face="vazirmatn" color="#0099cc">
        مجموعه‌داده
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazirmatn" size=3>
در این سوال قصد داریم تا سوالاتی درباره تخفیف‌هایی که یک فروشگاه آنلاین در سایت خود منتشر کرده است بپرسیم. برای حل این سوالات به ترتیب موارد خواسته شده را انجام دهید. 
<br>
دیتافریم شامل ۱۶ ستون است که در ادامه به توضیح هرکدام پرداخته شده:
    </font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    

| ستون | توضیح |
|:------:|:--------:|
| `id` | شناسه یکتای تخفیف ثبت‌شده |
| `product_variant_id` | شناسه تنوع محصول (مثل رنگ، سایز و...) که این تخفیف برای آن ثبت شده |
| `selling_price` | قیمت فروش نهایی محصول پس از اعمال تخفیف |
| `rrp_price` | قیمت پیشنهادی مصرف‌کننده یا همان قیمت روی کالا قبل از تخفیف (RRP: Recommended Retail Price) |
| `base_price` | قیمت پایه محصول در سیستم قبل از هرگونه تخفیف یا اصلاح |
| `buy_price` | قیمتی که فروشگاه محصول را خریداری کرده (قیمت تأمین) |
| `order_limit` | محدودیت در تعداد سفارش‌ها که برای این تخفیف در نظر گرفته شده (مثلاً حداکثر ۳ عدد برای هر مشتری) |
| `start_at` | زمان شروع اعمال تخفیف |
| `end_at` | زمان پایان تخفیف |
| `tags` | برچسب‌هایی برای توصیف نوع یا دسته‌بندی تخفیف (مثلاً "نوروز", "فصلی", "پیشنهاد شگفت‌انگیز") |
| `show_in_price_history` | آیا این تخفیف باید در تاریخچه قیمت محصول نمایش داده شود؟ (True/False) |
| `active` | آیا تخفیف در حال حاضر فعال است؟ (True/False) |
| `created_at` | زمان ثبت تخفیف در سیستم |
| `product_id` | شناسه کلی محصول (بدون در نظر گرفتن تنوع) |
| `marketplace_seller_id` | شناسه فروشنده‌ای که این تخفیف را ثبت کرده (برای فروشگاه‌های Marketplace) |

</font>
</div>
</center>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
   با استفاده از سلول زیر کتابخانه‌های مورد نیاز خود را <code>import</code> کنید و سپس مجموعه‌داده را که در فایلی به نام <code>tarikhche kharid cleaned.csv</code> قرار دارد، بخوانید. دقت کنید که کاراکتر <code>N\</code> به معنای <code>Null</code> می‌باشد.
<br>
هم چنین نوع داده ستون‌های <code>['start_at','end_at','created_at']</code> را به <code>datetime</code> تغییر دهید.
   
</font>
</p>

In [2]:
# اضافه کردن کتابخانه‌های مورد نیاز
import numpy as np
import pandas as pd
# خواندن فایل CSV
df = pd.read_csv('./tarikhche_kharid.csv', index_col='id') 

# تبدیل تاریخ‌ها به نوع datetime
df['start_at'] = pd.to_datetime(df['start_at'])
df['end_at'] = pd.to_datetime(df['end_at']) 
df['created_at'] = pd.to_datetime(df['created_at'])

# نمایش نمونه‌ای از داده‌ها
df

,product_variant_id,selling_price,rrp_price,base_price,buy_price,order_limit,start_at,end_at,tags,show_in_price_history,active,created_at,product_id,marketplace_seller_id
id,,,,,,,,,,,,,,
18723299,1973584,1690000,1950000,0.0,NaN,2,2018-12-01 10:00:00,2018-12-08 12:00:00,selling_and_sales,1,0,2018-11-26 13:10:31,101834,2513
18723298,1973450,6250000,6500000,0.0,NaN,1,2018-12-01 10:00:00,2018-12-08 12:00:00,selling_and_sales,1,0,2018-11-26 13:10:31,21040,2513
18731279,1969409,490000,520000,0.0,NaN,1,2018-11-29 12:55:00,2018-12-07 12:57:00,selling_and_sales,1,0,2018-11-26 14:43:55,711229,915
18689235,1968436,590000,710000,0.0,NaN,3,2018-11-26 00:00:00,2018-11-27 00:00:00,incredible_offer,1,0,2018-11-26 03:49:37,362394,63352
18685904,1968256,826500,870000,0.0,NaN,10,2018-11-27 00:00:00,2018-11-28 00:00:00,incredible_offer,1,0,2018-11-26 01:24:15,189452,61521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755344,1155147,1079100,1380000,NaN,NaN,2,2018-07-28 00:00:00,2018-08-03 00:00:00,sponsored_offer,0,0,2018-07-28 16:58:51,87150,2108
13844769,1155143,1871100,2500000,0.0,NaN,2,2018-10-01 21:00:48,2018-10-03 00:00:50,selling_and_sales,1,0,2018-10-01 18:46:48,483222,3937
14302539,1155117,8633000,8900000,0.0,NaN,2,2018-10-08 00:00:21,2018-10-09 00:00:05,incredible_offer,1,0,2018-10-07 08:53:29,56307,8776
15952720,1155093,2330000,2420000,0.0,NaN,5,2018-11-19 10:00:00,2018-11-27 10:00:00,selling_and_sales,1,1,2018-10-24 16:26:50,390295,2009
13668716,1155078,218000,369000,0.0,NaN,1,2018-10-08 12:00:18,2018-10-13 15:12:44,selling_and_sales,1,0,2018-09-29 12:34:41,169329,7664

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
حالا تعداد مقادیر خالی دیتافریم را به کمک توابع پانداز پیدا کنید و در متغیر <code>ٔnull_count</code> بریزید. برای ساده‌سازی دیتافریم ستون‌هایی که دارای مقادیر خالی هستند را از دیتافریم حذف کنید. 
</font>
</p>

In [3]:
# نمایش تعداد داده‌های خالی در هر ستون
null_count = (df.isna().sum()) 
print (null_count)

# # حذف ستون‌های با مقادیر زیاد ۰ یا خالی 
df.drop(columns=['buy_price', 'base_price'], inplace=True)

product_variant_id           0
selling_price                0
rrp_price                    0
base_price                4036
buy_price                53227
order_limit                  0
start_at                     0
end_at                       0
tags                         0
show_in_price_history        0
active                       0
created_at                   0
product_id                   0
marketplace_seller_id        0
dtype: int64

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
به کمک کتابخانه‌هایی که می‌شناسید ستون‌هایی که تاریخ هستند را با فرمت <code>'%Y-%m-%d'</code> به تاریخ شمسی تبدیل کنید و در ستون‌هایی با نام‌های <code>['start_at_jalali','end_at_jalali','created_at_jalali']</code> به دیتافریم اضافه کنید.
</font>
</p>

In [4]:
# تبدیل ستون‌های تاریخی به شمسی
import jdatetime

df['start_at_jalali'] = df['start_at'].apply(lambda x: jdatetime.date.fromgregorian(date=x.date()))
df['end_at_jalali'] = df['end_at'].apply(lambda x: jdatetime.date.fromgregorian(date=x.date()))
df['created_at_jalali'] = df['created_at'].apply(lambda x: jdatetime.date.fromgregorian(date=x.date()))


# نمایش نمونه‌ای از ستون‌های جدید
df[['created_at', 'created_at_jalali']].head()

                  created_at created_at_jalali
id
18723299 2018-11-26 13:10:31        1397-09-05
18723298 2018-11-26 13:10:31        1397-09-05
18731279 2018-11-26 14:43:55        1397-09-05
18689235 2018-11-26 03:49:37        1397-09-05
18685904 2018-11-26 01:24:15        1397-09-05

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
    <font face="vazirmatn" color="#0099cc">
سوال اول
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazirmatn" size=3>
    مقدار میانگین و میانه درصد تخفیف‌ها را محاسبه کنید. 
    <br>
    برای محاسبه درصد تخفیف باید ابتدا اختلاف مقدار پیشنهادی و مقدار فروش را به دست آورید و در ستون <code>discount_amount</code> بریزید.
    سپس این مقدار را بر مقدار قیمت پیشنهادی تقسیم و نهایتا در ۱۰۰ ضرب کنید و در ستون <code>discount_percent</code> بریزید.
    این ستون همان مقدار درصد تخفیف خواهد بود. 
</font>
    </p>

In [5]:

df['discount_amount'] = df['rrp_price'] - df['selling_price'] 
df['discount_percent'] = df ['discount_amount'] / df ['rrp_price'] * 100

discount_percent_mean = df['discount_percent'].mean()
discount_percent_median = df['discount_percent'].median()

print("میانگین درصد تخفیف:", discount_percent_mean)
print("میانه درصد تخفیف:", discount_percent_median)

میانگین درصد تخفیف: 16.80552511272506
میانه درصد تخفیف: 12.258064516129032

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
    <font face="vazirmatn" color="#0099cc">
سوال دوم
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazirmatn" size=3>
بهترین روز برای خرید چه روزی از هفته است. یعنی در چه روزی از هفته با احتمال بیشتری می‌توانیم محصول مورد نظر خود را با تخفیف بیشتری خرید کنیم؟ 
    <br> ابتدا نام روز‌های هفته را بر اساس روز شروع تخفیف پیدا کنید و در ستونی با اسم <code>day_of_week</code> به دیتافریم اضافه کنید. <br>
    منظور از بهترین روز، روزی است که در آن بیشترین مقدار تخفیف وجود داشته باشد. برای محاسبه این مقدار باید ابتدا میانگین درصد تخفیف‌ها را برای هر روز از هفته محاسبه کنید. سپس تعداد تخفیف‌ها را برای روزهای هفته محاسبه کنید و این دو مقدار را در یکدیگر ضرب کنید. در نهایت با مقایسه اعداد به دست آمده بزرگترین عدد را به عنوان بهترین روز برای خرید انتخاب کنید. <br> خروجی خود را در متغیر <code>best_day</code> به صورت یک تاپل دو عضوی که عضو اول آن مقدار بهترین روز و مقدار دوم آن نام بهترین روز است ذخیره کنید. <br> مثال: <code>('یکشنبه', 78765.92767584008)</code> <br>راهنمایی: این مقدار برای روز یکشنبه به صورت دقیق محاسبه شده و می‌توانید از آن برای اطمینان از محاسبات خود استفاده کنید. 
    </font>
    </p>

In [6]:
# تبدیل نام روزها به زبان فارسی
day_names_fa = {
    'Monday': 'دوشنبه',
    'Tuesday': 'سه‌شنبه',
    'Wednesday': 'چهارشنبه',
    'Thursday': 'پنج‌شنبه',
    'Friday': 'جمعه',
    'Saturday': 'شنبه',
    'Sunday': 'یکشنبه'
}
df['day_of_week'] = df['start_at'].dt.day_name()

# محاسبه میانگین تخفیف‌ها بر اساس روز هفته
mean_discount_by_day = df.groupby('day_of_week')['discount_percent'].mean()

print("میانگین تخفیف‌ها بر اساس روز هفته:")
print(mean_discount_by_day)


# محاسبه تعداد تخفیف‌ها بر اساس روز هفته
count_discount_by_day = df.groupby('day_of_week')['discount_percent'].count()
 
print(" تعداد تخفیف‌ها بر اساس روز هفته:")
print(count_discount_by_day)

total_discount_score = mean_discount_by_day * count_discount_by_day
score_sorted = total_discount_score.sort_values(ascending=False)

best_day = score_sorted.index[0]
best_day_value = score_sorted.iloc[0]
index = day_names_fa[best_day]
# پیدا کردن روزی که بیشترین تخفیف را داشته است
best_day = (index, float(best_day_value))
print("روز با بیشترین تخفیف:")
print(best_day)

میانگین تخفیف‌ها بر اساس روز هفته:
day_of_week
Friday       19.044414
Monday       17.438747
Saturday     17.511192
Sunday       18.669336
Thursday     14.106325
Tuesday      14.547678
Wednesday    15.204465
Name: discount_percent, dtype: float64
 تعداد تخفیف‌ها بر اساس روز هفته:
day_of_week
Friday        2201
Monday        9374
Saturday     25146
Sunday        4219
Thursday      5293
Tuesday       7041
Wednesday     3927
Name: discount_percent, dtype: int64
روز با بیشترین تخفیف:
('شنبه', 440336.42842713284)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
    <font face="vazirmatn" color="#0099cc">
سوال سوم
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazirmatn" size=3>تاریخ شمسی ده روزی که بیشترین تعداد تخفیف در آنها ایجاد شده را به صورت یک لیست  در متغیر <code>most_daily_discount</code> ذخیره کنید.
</font>
    </p>

In [7]:
df['date_only'] = df['created_at'].dt.date
daily_discount_count = df.groupby('date_only')['discount_percent'].count()
top_10_dates = daily_discount_count.sort_values(ascending=False).head(10).index
most_daily_discount = [jdatetime.date.fromgregorian(date=d).strftime("%Y/%m/%d") for d in top_10_dates]
print(most_daily_discount)

['1397/06/12', '1397/08/13', '1397/08/18', '1397/06/26', '1397/07/24', '1397/07/25', '1397/06/18', '1397/06/31', '1397/08/07', '1397/08/19']

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
    <font face="vazirmatn" color="#0099cc">
سوال چهارم
    </font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
    <font face="vazirmatn" size=3>مدت زمان متوسط تخفیف‌ها چند روز است؟  جواب خود را تا یک رقم اعشار در متغیر <code>duration_mean</code> ذخیره کنید.
</font>
    </p>

In [8]:
df['duration_days'] = (df['end_at'] - df['start_at']).dt.days
duration_mean = round(df['duration_days'].mean(), 1)
print("مدت زمان متوسط تخفیف‌ها (روز):", duration_mean)

مدت زمان متوسط تخفیف‌ها (روز): 8.6

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazirmatn" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) در غیر این صورت، در پایان مسابقه نمره شما به صفر تغییر خواهد کرد.
    <br>
    همچنین اگر از کولب برای اجرای این فایل نوت‌بوک استفاده می‌کنید، قبل از ارسال فایل <code>result.zip</code>، آخرین نسخه‌ی نوت‌بوک خود را دانلود کرده و داخل فایل ارسالی قرار دهید.
</font>

In [9]:
import joblib
import zipfile

joblib.dump(discount_percent_mean, 'discount_percent_mean')
joblib.dump(discount_percent_median, 'discount_percent_median')
joblib.dump(best_day, 'best_day')
joblib.dump(most_daily_discount, 'most_daily_discount')
joblib.dump(duration_mean, 'duration_mean')
df.to_csv('df.csv', index=False)


def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ['Online Store Discounts.ipynb','discount_percent_mean','discount_percent_median','best_day','most_daily_discount','duration_mean','df.csv']
compress(file_names)

File Paths:
['Online Store Discounts.ipynb', 'discount_percent_mean', 'discount_percent_median', 'best_day', 'most_daily_discount', 'duration_mean', 'df.csv']